@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}
.modal-body{
    font-family: Arial, Helvetica, sans-serif;
}